.header-bar {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background: #1e1e1e;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}

.app-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 15px;
    position: relative;
    left: -3rem;
}

.username strong {
    color: #4cc9f0;
}

.change-user-btn {
    padding: 8px 14px;
    background: #4cc9f0;
    color: #1e1e1e;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.change-user-btn:hover {
    background: #72d6ff;
}